params {

    input {
      fastq_path = "/home/sravisha/fuser/kstme/RNASeq/Fastq"
      fasta_path = "/home/sravisha/fngs/ReferenceGenomes/Human_genomes/Gencode/gencode.v34.transcripts.fa.gz"
      gff_path = "/home/sravisha/fngs/ReferenceGenomes/Human_genomes/Gencode/gencode.v34.annotation.gff3.gz"
      study_id = "KSRNASeq"
    }
 
  output {
      folder = "/home/sravisha/fuser/kstme/RNASeq/quants"
      index = "/home/sravisha/fuser/kstme/RNASeq/References"

    }

}



                    