params {

    input {
      fastq_path = "/home/sravisha/fuser/cNR/data/Fastq"
      fasta_path = "/home/sravisha/fngs/ReferenceGenomes/Human_genomes/GRCh38_iGenomes/Sequence/WholeGenomeFasta/genome.fa"
      index_path = "/home/sravisha/fngs/ReferenceGenomes/Human_genomes/GRCh38_iGenomes/Sequence/Bowtie2Index/genome"
      gff_path = "/home/sravisha/fngs/ReferenceGenomes/Human_genomes/GRCh38_iGenomes/Annotation/Genes/genes.gtf"
      chrom_path = "/home/sravisha/fuser/cNR/metadata/hg38.txt"
      config_path = "/home/sravisha/fuser/cNR/data/config.csv"
      cutsite_path = "/home/sravisha/fuser/cNR/metadata/cutSite.bed"
      study_id = "MJC_CNR"
    }
 
  output {
      folder = "/home/sravisha/fuser/cNR/results"
    }

}



                    