params {

    input {
      fastq_path = "/home/sravisha/fuser/nextflow/RNASeq/Fastq"
      bam_path = "/home/sravisha/fuser/nextflow/RNASeq/STAR_alignment/hg19"
      ref_path = "/home/sravisha/fngs/ReferenceGenomes/Human_genomes/hg19.fasta"
      gtf_path = "/home/sravisha/fngs/ReferenceGenomes/Human_genomes/hg19.gtf"

    }
 
  output {
      folder = "/home/sravisha/fuser/nextflow/RNASeq"
    }

}
