params {

    input {
      cds_path = "Study/Monocle/Cluster/"
    }
    garnett {
      nunknowns = 50 //[50, 100]
      classifier_path = ["classificationModels/Garnett/PBMC31CTDC_garnett.txt",  
                         "classificationModels/Garnett/hsPBMC_markers.txt"]
      classifier_type = ["ENSEMBL", "SYMBOL"]
      known_type = "FALSE"
    }
  output {
      folder = "Study"
    }

}
