params {
    input {
      metadata = 'Metadata/KSPBMC_10Xv3_metadata.csv'
      gex_reference = 'ReferenceGenomes/Human_genomes/refdata-cellranger-hg19-3.0.0'
      vdj_reference = 'ReferenceGenomes/Human_genomes/refdata-cellranger-vdj-GRCh38-alts-ensembl-3.1.0'
      gex_fastq_path = 'mkfastq/HGMLLDRXX/outs/fastq_path'
      vdj_fastq_path = 'mkfastq/HGMLLDRXX/outs/fastq_path'
      study_id = 'HGMLLDRXX'
      gex = true
      vdj = true
    }
    output {
      folder = "HGMLLDRXX"
    }
    count {
      fastq_type = 'mkfastq'
    }
    aggr {
      modes = 'mapped' //['mapped', 'none']
    }
}