params {
    input {
      metadata = 'Metadata/ZhengSorted_metadata.csv'
      gex_reference = 'ReferenceGenomes/Human_genomes/refdata-gex-GRCh38-2020-A.tar.gz'
      vdj_reference = 'ReferenceGenomes/Human_genomes/refdata-cellranger-vdj-GRCh38-alts-ensembl-4.0.0.tar.gz'
      gex_fastq_path = 'ZhengSorted_10X/Fastq'
      vdj_fastq_path = false
      study_id = 'ZhengSorted_10X'
      gex = true
      vdj = false
    }
    output {
      folder = "ZhengSorted_10X"
    }
    count {
      fastq_type = 'demux' //['mkfastq', 'demux']
    }
    aggr {
      modes = "mapped" //['mapped', 'none']
    }
}
