params {

    input {
      count_dir = "HGMLLDRXX/Counts/"
      vdj_dir = "HGMLLDRXX/VDJ/"
      sample_list = ['008_216_CD4', '008_216_CD8', '008_216_PBMC', '008_217_CD4', '008_217_CD8', '008_217_PBMC', '008_220_CD4', '008_220_CD8', '008_220_PBMC']
    }
    preprocess {
      nmads = 3 
    }
    processmeta {
      vdj = true   
      gex_metadata = "Metadata/GEX_h5_samplesheet.csv"
      vdj_metadata = "Metadata/VDJ_analysis_samplesheet.csv"
    }
    output {
      folder = "HGMLLDRXX/"
    }

}
